/* line 2, ../sass/geocoder_field_general.scss */
table#edit-third-party-settings-geocoder-field-plugins .form-item input.error {
  outline: solid red thin;
}

/* line 7, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list thead th .options-field-description {
  font-weight: normal;
  text-transform: none;
  font-size: 0.95em;
}
/* line 13, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list td .not-yet-set {
  font-size: 0.95em;
  color: grey;
}
/* line 18, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list .form-item {
  margin: 0;
}
/* line 20, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list .form-item input.error {
  outline: solid red thin;
}
