/* line 2, ../sass/geocoder_field_general.scss */
table#edit-third-party-settings-geocoder-field-plugins .form-item input.error {
  outline: solid red thin;
}

/* line 7, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list thead th .options-field-description {
  font-weight: normal;
  text-transform: none;
  font-size: 0.95em;
}
/* line 12, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list tr {
  border-bottom-color: lightgray;
}
/* line 15, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list tr td .not-yet-set {
  font-size: 0.95em;
  color: grey;
}
/* line 20, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list tr .form-item {
  margin: 0 !important;
}
/* line 22, ../sass/geocoder_field_general.scss */
table.geocode-plugins-list tr .form-item input.error {
  outline: solid red thin;
}
